.endGameTable {
  text-align: center;
  position: relative;
}

.terminalEndgame {
  height: 45vh;
  font-size: 2vh;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  border-bottom: 2px solid rgb(25, 188, 80);
}

td {
  border-bottom: 2px solid rgb(25, 188, 80);
  vertical-align: middle;
  text-align: center;
}

.largeButton {
  height: 13vh;
  width: 13vw;
  text-align: center;
  background-color: rgb(138, 195, 213);
}

.sideButton {
  height: 13vh;
  position: absolute;
  left: 80vw;
}

#backsideButton {
  bottom: 51vh;
  background-color: rgb(159, 221, 67);
}

#noTry {
  bottom: 36vh;
  background-color: rgb(222, 90, 90);
}