div {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
  font-family: "Playpen Sans", serif;
  font-weight: 750;
  font-size: 4vh;
  text-align: center;
  color: white;
}

.qr-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.reset-pop-up {
  height: min(50vh, 50vw);
  width: min(50vh, 50vw);
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1vh);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: min(5vh, 5vw);
  border: 2px solid white;
  transition: transform 0.4s ease-out, opacity 0.25s ease-out;
}

.reset-pop-up-bottom {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.quoteDiv {
  height: 100vh;
  width: 100vw;
  background: black;
  color: white;
  text-shadow: 0 0 1vh white;
  font-size: 3vh;
  text-align: center;
  line-height: 5vh;
  font-family: 'Comic Sans MS', cursive;
  font-weight: 200;
  display: flex;
  flex-direction: column;
}

#qrArea {
  padding: min(6vh, 6vw);
  border-radius: min(5vh, 5vw);
  display: flex;
  background-color: white;
  backdrop-filter: blur(1vh);
  transition: transform 0.25s cubic-bezier(0, .5, .5, 1), opacity 0.5s cubic-bezier(0, .5, .5, 1);
  border: 2px solid white; 
}

#resetButton {
  background-color: rgb(180,0,0);
}

#regenButton {
  background-color: rgb(0,150,100);
}

#noButton {
  background-color: red;
}

#yesButton {
  background-color: limegreen;
}

#contineButton {
  background-color: rgb(204, 137, 29);
}