table {
    height: 100vh;
    width: 100vw;
    table-layout: fixed;
}

tr {
    height: 16.66%;
}

td {
    color: white;
    width: 12.5%;
}


label {
    color: white;
    font-size: 3vh;
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tr1 {
    font-size: 2vh;
}

.tr1 > td {
  border-left: 1px solid white;
}

.commentBox {
    height: 90%;
    width: 90%;
    font-size: 3vh;
    background-color: black;
}

.checkbox {
    scale: 1.5;
}

.qualBody {
    background-color: rgb(56, 8, 10);
}