table,
th,
tr,
td {
    /* border: 1px solid gray; */
}

.subheader {
    color: white;
    font-size: 10vh;
}

.smallRow {
    width: 5vw;
}

.largeRow {
    width: 32vw;
}

.minusButton {
    width: 6vw;
}


.plusButton {
    width: 90%;
}

.navigationButton {
    background-image: linear-gradient(#999999,
            #777777,
        );
    border: #333333,
}

.navigationButton:hover {
    background-image: linear-gradient(#777777,
            #555555,
        );
    border: #222222,
}